<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.address}"></td>
    </tr>
</table>
<script th:inline="javascript">
    var users = [[${users}]];
    console.log(users);
</script>
</body>
</html>